html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color:#f5f6f7;
    background-size: cover;
    color: white;
}
p{
    margin: 0;
}
.hidden{
    width: 100%;
    height: 100%;
    background-image: url('easteregg.png');
    background-size: contain;
}
.main_log{
    width: 305px;
    height: 75px;
    margin: auto;
    margin-top: 30px;
}
.user_box, .pw_box {
    width: 450px;
    height: 30px;
    border: 0;
}



.main_borad{
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
}
.username,.password,.login{ 
    text-align: center;
}
.login{
    width: 500px;
    height: 60px;
    background-color: #1fbc02;
    cursor: pointer;
    border: 0;
    color: white;
    font-size: 20px;
}
.username, .password{
    padding-top: 15px;
    border: solid 1px #dadada;
}
.username{
    padding-top: 15px;
    width: 500px;
    height: 45px;
    background-color: white;
}
.password{
    padding-top: 15px;
    width: 500px;
    height: 45px;
    background-color: white;
}
.create, .idfind, .pwfind{
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 0;
    margin: 0;
    color: gray;
    font-size: 20px;
    margin-top: 30px;
    border-radius:0.5em;
    padding-left: 10px;
}
.idfind, .pwfind{
    width: 150px;
    height: 30px;

}
.findbox{
    float: left;
}
